{% extends "base_generic.html" %}
{% block content %}
    <h2>{{event.title}}</h2>
    <img src="{{MEDIA_URL}}{{event.cover_image.url}}" class="card-img-top" alt="...">
    <h5 class="card-title">{{event.title}}</h5>
    <p class="card-text">{{event.description}}</p>
    <img src="{{MEDIA_URL}}{{event.image1.url}}" class="card-img-top" alt="...">
    <img src="{{MEDIA_URL}}{{event.image2.url}}" class="card-img-top" alt="...">
    <img src="{{MEDIA_URL}}{{event.image3.url}}" class="card-img-top" alt="...">
{% endblock %}
